<p><%= notice %></p>

<body>

  <tb>
    <p><strong>Title: </strong><%= @book.title %></p>
    <p><strong>Body: </strong><%= @book.body %></p>
  </tb>
  <eb>
  <lk><%= link_to "Edit", edit_book_path(@book.id) %>
   | 
  <%= link_to "Back",books_path  %></lk>
  </eb>
</body>